<section class="text-gray-100 py-18">
    <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
      <h2 class="mb-12 text-4xl font-bold leadi  text-black text-center sm:text-5xl">Sıkça sorulan sorular</h2>
      <div class="flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-gray-700">
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline text-black">Kurslar Ücretsiz mi?</summary>
          <div class="px-4 pb-4 text-black">
            <p>Evet Sitemiz'de bulunun tüm kurslar ücretsizdir..</p>
          </div>
        </details>
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline text-black">Eğitim içeriklerine istediğim zaman erişebilir miyim?</summary>
          <div class="px-4 pb-4 text-black">
            <p>Eğitmenimiz kaldırmadığı sürece istediğiniz zaman erişebilirsiniz.</p>
          </div>
        </details>
      </div>
    </div>
  </section>
  