.step {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: white;
}
.step-active {
    font-weight: bold;
    color: #3182ce; /* Tailwind blue-600 */
}
.step-pane {
    display: none;
}
.step-pane-active {
    display: block;
}