<section class="sm:ml-64">
    <div class="p-4 rounded-lg mt-14 relative overflow-x-auto shadow-md sm:rounded-lg">
        <nav class="flex px-5 mb-2 py-3 text-gray-700 border text-white bg-gray-900  border-gray-700" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
              <li class="inline-flex items-center">
                <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-blue-600 text-gray-400 hover:text-white">
                  <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                  </svg>
                  Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                  </svg>
                  <a href="#" class="ms-1 text-sm font-medium text-gray-400 hover:text-blue-600 md:ms-2 text-gray-400 hover:text-white">Admin</a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                  </svg>
                  <a href="#" class="ms-1 text-sm font-medium text-gray-400 hover:text-blue-600 md:ms-2 text-gray-400 hover:text-white">Settings</a>
                </div>
              </li>
            </ol>
          </nav>
            <div class="mt-4 flex flex-col bg-gray-900 rounded-lg p-4 shadow-sm">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="site-tab" data-tabs-target="#site" type="button" role="tab" aria-controls="site" aria-selected="false">Site Ayarları</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 hover:text-gray-300" id="logo-tab" data-tabs-target="#logo" type="button" role="tab" aria-controls="logo" aria-selected="false">Logo Ayarları</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 hover:text-gray-300" id="google-tab" data-tabs-target="#google" type="button" role="tab" aria-controls="google" aria-selected="false">Google Ayarları</button>
                    </li>
                    <li role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 hover:text-gray-300" id="contract-tab" data-tabs-target="#contract" type="button" role="tab" aria-controls="contract" aria-selected="false">Sözleşme ayarları</button>
                    </li>
                    <li role="presentation">
                      <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 hover:text-gray-300" id="maintenance-tab" data-tabs-target="#maintenance " type="button" role="tab" aria-controls="maintenance " aria-selected="false">Bakım Modu</button>
                  </li>
                </ul>
            </div>
            <form [formGroup]="SaveSettingsForm" enctype="multipart/form-data">
            <div id="default-tab-content">
                <div class="hidden mt-3 p-4 rounded-lg bg-gray-900" id="site" role="tabpanel" aria-labelledby="site-tab">
                      <div class="mb-5">
                        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 text-white">Site Başlık</label>
                        <input type="text" id="title" formControlName="title" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Site başlığı giriniz..." required />
                      </div>
                      <div class="mb-5">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 text-white">Site Açıklaması</label>
                        <input type="description" id="description" formControlName="description"  class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Site açıklması giriniz..."  />
                      </div>
                      <div class="mb-5">
                        <label for="keywords" class="block mb-2 text-sm font-medium text-gray-900 text-white">Site Anahtar Kelimeleri</label>
                        <input type="keywords" id="keywords" formControlName="keywords"  class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Site anahtar kelimeleri giriniz..."  />
                      </div>
                      <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">Site Email</label>
                        <input type="email" id="email" formControlName="email" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Site email giriniz..."/>
                      </div>
                      <div class="mb-5">
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 text-white">Site Telefon</label>
                        <input type="phone" id="phone" formControlName="phone" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Site telefon numarası giriniz..." />
                      </div>
                </div>
                <div class="hidden mt-3 p-4 rounded-lg bg-gray-900" id="logo" role="tabpanel" aria-labelledby="logo-tab">
                    <div class="mb-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 text-white" for="logoUrl">Site Logo</label>
                        <input  class="w-full bg-gray-800 rounded-md border-gray-700 text-white px-2 py-1 mt-2" id="logoUrl" type="hidden" formControlName="logoUrl">
                        <input name="LogoFile" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer  text-white focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400" id="logourl" type="file" (change)="onLogoFileChange($event)">
                      </div>
                      <div class="mb-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 text-white" for="faviconUrl">Site Favicon</label>
                        <input  class="w-full bg-gray-800 rounded-md border-gray-700 text-white px-2 py-1 mt-2" id="faviconUrl" type="hidden" formControlName="faviconUrl">
                        <input name="FaviconFile" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer  text-white focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400" id="faviconurl" type="file" (change)="onFaviconFileChange($event)">
                      </div>
                </div>
                <div class="hidden mt-3 p-4 rounded-lg bg-gray-900" id="google" role="tabpanel" aria-labelledby="google-tab">
                  <div class="mb-5">
                    <label for="googlesitekey" class="block mb-2 text-sm font-medium text-gray-900 text-white">Google Site Anahtarı</label>
                    <input type="password" id="googlesitekey"  formControlName="googleSiteKey"  class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Google site anahtarı giriniz..." name="GoogleSiteKey"/>
                  </div>
                  <div class="mb-5">
                    <label for="googlesecretkey" class="block mb-2 text-sm font-medium text-gray-900 text-white">Google Site Gizli Anahtarı</label>
                    <input type="password" id="googlesecretkey" formControlName="googleSecretKey"  class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Google site gizli anahtarı giriniz..." name="GoogleSecretKey" />
                  </div>
                  <div class="mb-5">
                    <label for="googleanalytics" class="block mb-2 text-sm font-medium text-gray-900 text-white">Google Analatik Anahtarı</label>
                    <input type="password" id="googleanalytics"  formControlName="googleAnalytics" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Google analatik anahtarı giriniz..." name="GoogleAnalytics"  />
                  </div>
                </div>
                <div class="hidden mt-3 p-4 rounded-lg bg-gray-900" id="contract" role="tabpanel" aria-labelledby="contract-tab">
                  <div class="mb-5 text-center">
                    <label for="privacyPolicy" class="block mb-2 text-lg font-large text-gray-900 text-white">Gizlilik Sözleşmesi</label>
                    <textarea id="privacyPolicy" formControlName="privacyPolicy" rows="4" class="block p-2.5 w-full text-sm text-gray-900  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ></textarea>
                  </div>
                  <div class="mb-5 text-center">
                    <label for="termsOfUse" class="block mb-2 text-lg font-large text-gray-900 text-white">Kullanım koşulları</label>
                    <textarea id="termsOfUse" formControlName="termsOfUse" rows="4" class="block p-2.5 w-full text-sm text-gray-900  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ></textarea>
                  </div>


                </div>
                <div class="hidden mt-3 p-4 rounded-lg bg-gray-900" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">
                  <div class="mb-5">
                      <label class="block mb-2 text-lg font-medium text-gray-900 text-white" for="user_avatar">Bakım Modu:</label>
                      <label class="ml-3 inline-flex items-center mb-5 cursor-pointer">
                        <input *ngIf="getByIdSettingsResponse" type="checkbox" formControlName="maintenanceMode" class="sr-only peer" [checked]="getByIdSettingsResponse.maintenanceMode">
                          <span class="mr-3 text-lg font-medium text-gray-900 text-gray-300 text-white">Pasif</span>
                          <div class="relative w-11 h-6 peer-focus:ring-red-800 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all border-gray-600 peer-checked:bg-red-600"></div>
                          <span class="ms-3 text-lg font-medium text-gray-900 text-gray-300 text-white">Aktif</span>
                      </label>
                  </div>
                </div>
              
                <div class="m-5 text-center">
                  <button (click)="SaveSettings()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Kaydet</button>
                </div>
            </div>
          </form>
        </div>
</section>