<section class="py-12">
  <div class="container max-w-7xl mx-auto px-6 lg:px-8 flex flex-col lg:flex-row gap-8 shadow-lg">
    <!-- Bootcamp Info Sidebar -->
    <div class="lg:w-1/4 bg-white p-6 rounded-lg">
      <h2 class="text-2xl font-bold text-gray-800">Bootcamp Bilgileri</h2>
      <div class="mt-4 text-gray-700">
        <p><span class="font-semibold">Eğitmen: </span> {{ getbyIdBootcampResponse?.instructorFirstName }} {{ getbyIdBootcampResponse?.instructorLastName }}</p>
        <div class="mt-4" *ngIf="!showAttendButton">
          <div *ngIf="getbyIdBootcampResponse?.bootcampState && showApplyButton">
            <button 
              type="button" 
              class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-m px-5 py-2.5 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 w-full" 
              (click)="applyToBootcamp(getbyIdBootcampResponse?.id)">
              Başvur
            </button>
          </div>
          <div *ngIf="!getbyIdBootcampResponse?.bootcampState || !showApplyButton">
            <button 
              type="button" 
              class="focus:outline-none text-white bg-gray-500 cursor-not-allowed font-medium rounded-lg text-m px-5 py-2.5 mb-2 w-full" 
              disabled>
              Başvurular kapalı
            </button>
          </div>
        </div>
        <div class="mt-4" *ngIf="showAttendButton">
          <button 
            type="button"
            [routerLink]="'/viewbootcamp/' + getbyIdBootcampResponse?.id"
            class="focus:outline-none text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-m px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full">
            Derse Git
          </button>
        </div>
      </div>
    </div>

    <div class="lg:w-3/4 flex flex-col items-center lg:items-start m-5">
      <h2 class="text-4xl font-bold text-gray-800 text-center lg:text-left">{{ getbyIdBootcampResponse?.name }}</h2>
      <div class="mt-5 lg:mt-8 max-w-2xl w-full">
        <img [src]="getbyIdBootcampResponse?.bootcampImage" alt="Bootcamp Image" class="w-full h-auto rounded-lg shadow-lg">
      </div>
      <div class="text-center lg:text-left mt-8 max-w-2xl w-full">
        <p class="mt-4 text-lg text-gray-600 leading-relaxed">
          Bootcamp Açıklaması: {{ getbyIdBootcampResponse?.description }}
        </p>
      </div>
    </div>
  </div>
</section>
