<div class="grid grid-cols-1 sm:grid-cols-4 gap-10 mt-5">
    <div class="col-span-1">
      <div class="p-4 bg-white shadow-lg rounded">
        <h2 class="text-lg font-medium mb-4">Filtreleme</h2>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="instructor">
            Eğitmen
          </label>
          <select id="countries" (change)="onInstructorChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="">Eğitmen Seçimi</option>
            <option *ngFor="let instructor of instructors?.items" [value]="instructor.id">{{ instructor.firstName
            }} {{ instructor.lastName }}</option>
          </select>
        </div>
        <div class="mt-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="course">
            Ders
          </label>
          <select id="countries" (change)="onBootcampChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="">Ders Seçimi</option>
            <option *ngFor="let bootcamp of bootcamps" [value]="bootcamp.id">{{ bootcamp.name }}</option>
          </select>
        </div>
        <div class="mt-4">
          <button (click)="applyFilters()" class="bg-blue-500 text-white px-4 py-2 rounded">Filtrele</button>
        </div>
      </div>
    </div>
  
    <div class="col-span-3 grid grid-cols-1 sm:grid-cols-3 gap-10">
      <div *ngFor="let bootcamp of bootcamps" class="rounded overflow-hidden shadow-lg flex flex-col">
        <div class="relative">
          <img class="w-full h-48 object-cover" [src]="bootcamp.bootcampImage + '?auto=compress&cs=tinysrgb&dpr=1&w=500'" alt="Bootcamp Image">
          <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
          <div 
            [ngClass]="{
              'bg-indigo-600 text-white': bootcamp.bootcampState,
              'bg-red-600 text-white': !bootcamp.bootcampState
            }"
            class="text-xs absolute top-0 right-0 px-4 py-2 mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
            Başvuru Durumu: {{ bootcamp.bootcampState ? 'Aktif' : 'Pasif' }}
          </div>
        </div>
        <div class="px-5 py-4 mb-auto">
          <a href="#" class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">
             {{ bootcamp.name }}
          </a>
          <p class="text-gray-500 text-sm">
            {{ bootcamp.description }}
          </p>
        </div>
        <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
          <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
            <span class="ml-1">Eğitmen: {{ bootcamp.InsturctorName }}</span>
          </span>
          <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
            <svg class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z">
              </path>
            </svg>
            <span class="ml-1">39 Comments</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between mt-4">
    <button (click)="onPreviousPageClicked()" [disabled]="!bootcampList.hasPrevious" class="bg-blue-500 text-white px-4 py-2 rounded disabled:bg-gray-300">
        Önceki
    </button>
    <button (click)="onViewMoreClicked()" [disabled]="!bootcampList.hasNext" class="bg-blue-500 text-white px-4 py-2 rounded disabled:bg-gray-300">
        Sonraki
    </button>
</div> 
  