<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 mt-5">
  <app-bootcamp-card *ngFor="let bootcamp of bootcampList.items" [bootcampCardData]="bootcamp"></app-bootcamp-card>
</div>
<div class="flex justify-center mt-4">
  <button (click)="onPreviousPageClicked()" [disabled]="!bootcampList.hasPrevious" class="bg-blue-500 text-white px-4 py-2 rounded disabled:bg-gray-300 mr-2">
    Önceki
  </button>
  <button (click)="onViewMoreClicked()" [disabled]="!bootcampList.hasNext" class="bg-blue-500 text-white px-4 py-2 rounded disabled:bg-gray-300">
    Sonraki
  </button>
</div>
