<section class="text-gray-100 py-18">
    <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
      <h2 class="mb-12 text-4xl font-bold leadi  text-black text-center sm:text-5xl">Frequently Asked Questions</h2>
      <div class="flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-gray-700">
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline text-black">How can I place an order?</summary>
          <div class="px-4 pb-4 text-black">
            <p>You can easily place an order on our website by browsing our product catalog, selecting the items you want, and adding them to your cart. Then, proceed to checkout, where you can provide your shipping and payment information to complete the order.</p>
          </div>
        </details>
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline text-black">What are your terms and conditions?</summary>
          <div class="px-4 pb-4 text-black">
            <p>You can find our detailed terms and conditions by visiting our 
              <a href="" class="underline">Terms of Service</a> 
              page on our website. It includes information about our policies, user guidelines, and more.</p>
          </div>
        </details>
      </div>
    </div>
  </section>
  