<div class="text-center m-5">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-black md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Last</span> 3 courses.</h1>
</div>
<section class="flex flex-wrap justify-center">
    <div class="m-12 bg-gray-700 max-w-[400px] rounded-xl hover:bg-gray-900 hover:scale-110 duration-700 p-5 flex flex-col justify-between">
        <div class="flex justify-center">
            <img class="w-64 h-36 p-2 rounded-md object-cover" src="assets/teachitfree.png" alt="teachitfree">
        </div>
        <h4 class="text-white font-bold text-center">C# + Angular Dersleri</h4>
        <p class="text-base text-white font-semibold text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <div class="flex justify-between items-center mt-5">
            <div class="flex items-center text-white">
                <img class="w-8 h-8 rounded-full mr-2" src="assets/profile.png" alt="Profile Image">
                Beytullah Tapan
            </div>
            <button class="w-36 h-10 font-semibold rounded-md bg-indigo-100 hover:scale-90 duration-500">Başvur</button>
        </div>
    </div>  
    <div class="m-12 bg-gray-700 max-w-[400px] rounded-xl hover:bg-gray-900 hover:scale-110 duration-700 p-5 flex flex-col justify-between">
        <div class="flex justify-center">
            <img class="w-64 h-36 p-2 rounded-md object-cover" src="assets/teachitfree.png" alt="teachitfree">
        </div>
        <h4 class="text-white font-bold text-center">C# + Angular Dersleri</h4>
        <p class="text-base text-white font-semibold text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <div class="flex justify-between items-center mt-5">
            <div class="flex items-center text-white">
                <img class="w-8 h-8 rounded-full mr-2" src="assets/profile.png" alt="Profile Image">
                Beytullah Tapan
            </div>
            <button class="w-36 h-10 font-semibold rounded-md bg-indigo-100 hover:scale-90 duration-500">Başvur</button>
        </div>
    </div> 
    <div class="m-12 bg-gray-700 max-w-[400px] rounded-xl hover:bg-gray-900 hover:scale-110 duration-700 p-5 flex flex-col justify-between">
        <div class="flex justify-center">
            <img class="w-64 h-36 p-2 rounded-md object-cover" src="assets/teachitfree.png" alt="teachitfree">
        </div>
        <h4 class="text-white font-bold text-center">C# + Angular Dersleri</h4>
        <p class="text-base text-white font-semibold text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <div class="flex justify-between items-center mt-5">
            <div class="flex items-center text-white">
                <img class="w-8 h-8 rounded-full mr-2" src="assets/profile.png" alt="Profile Image">
                Beytullah Tapan
            </div>
            <button class="w-36 h-10 font-semibold rounded-md bg-indigo-100 hover:scale-90 duration-500">Başvur</button>
        </div>
    </div> 
           
 </section>