<div class="dark:bg-white bg-gray-900 rounded overflow-hidden shadow-lg flex flex-col">
    <a href="#"></a>
    <div class="relative"><a>
            <img class="w-full h-48 object-cover"
            [src]="bootcampCardData.bootcampImage + '?auto=compress&cs=tinysrgb&dpr=1&w=500'"
                alt="Sunset in the mountains">
            <div
                class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
            </div>
            <div 
            [ngClass]="{
              'bg-indigo-600 text-white': bootcampCardData.bootcampState,
              'bg-red-600 text-white': !bootcampCardData.bootcampState
            }"
            class="text-xs absolute top-0 right-0 px-4 py-2 mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
            Başvuru Durumu: {{ bootcampCardData.bootcampState ? 'Aktif' : 'Pasif' }}
          </div>
        </a>
    </div>
    <div class="text-white dark:text-gray-900 px-6 py-4 mb-auto">
        <a [routerLink]="['/bootcampdetails', bootcampCardData.id]"
            class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">{{bootcampCardData.name}}</a>
        <p class="text-gray-500 text-sm">
            {{bootcampCardData.description}}
        </p>
    </div>
    <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
        <span href="#"
            class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
            <a [routerLink]="['/inst-profile', bootcampCardData.instructorId]">Egitmen: {{bootcampCardData.instructorName}}</a>
        </span>

        <span [routerLink]="['/bootcampdetails', bootcampCardData.id]" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
            <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
              <button *ngIf="!bootcampCardData.isRegistered"  type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 w-36">Detay</button>
              <span *ngIf="bootcampCardData.isRegistered" class="focus:outline-none text-white bg-gray-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-600 w-36 text-center">Kayıtlısınız</span>
            </span>
          </span>
    </div>
</div>